// Custom select
.select {
    position: relative;

    &[data-state="active"] {
        .select__title {

            &::after {
                //transform: rotate(180deg);
            }
        }

        .select__content {
            opacity: 1;
            z-index: 8;
        }
    }
}

.select__title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    @extend %text-16;
    color: rgba(4, 62, 68, 0.4);
    border-bottom: 0.1rem solid rgba(4, 62, 68, 0.4);
    cursor: pointer;

    &::after {
        content: "";
        @extend %pos-center-y;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        background-image: url(../img/icons/drop-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out;
    }
}

.select__content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 21.4rem;
    overflow-y: scroll;
    @extend %flex-col;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0rem 1.5rem 2.5rem rgba(0, 0, 0, 0.15);
    border-radius: 0rem 0rem 2rem 2rem;
    padding: 1rem 0;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: -1;
    &::-webkit-scrollbar {
        width: 0.5rem;
        border-radius: 0.5rem;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        width: 0.5rem;
        height: 4rem;
        border-radius: 0.5rem;
        background-color: $dark;
    }
}

.select__input {
    display: none;

    &:checked+label {
        background-color: $accent;
    }

    /* &:disabled+label {
        opacity: 0.6;
        pointer-events: none;
    } */
}

.select__label {
    padding: 1rem 2rem;
    width: 100%;
    @extend %text-16;
    cursor: pointer;
    transition: .3s background-color;

    @media (any-hover: hover) {
        &:hover {
            background-color: $accent;
        }
    }
}