//swiper
.swiper-container {
    overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 0;
    transition: .3s all;

    &:after {
        color: #65C10E;
        font-size: 4rem;
        @media(max-width: 992px) {
            color: #043E44;
        }
    }
}

.swiper-button-next {
    margin-bottom: 0;
}