.burger-menu {
    display: none;
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -100%;
        z-index: 101;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s top;
        overflow: auto;
        padding: 160 * 100vh / 667 1.2rem 40 * 100vh / 667;
    }
    &--active {
        @media (max-width: 992px) {
            top: 0;
        }
    }

    &__close-btn {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}
