.results {

    position: relative;
    height: 105.3rem;
    padding: 11.3rem 0 36.6rem;
    @media(max-width: 992px) {
        padding: 5rem 0;
        height: auto;
    }
    @media(max-width: 767px) {
        padding: 2.1rem 0 3.4rem;
    }

    &__decor {
        position: absolute;
        top: 2rem;
        left: -5rem;
        z-index: -1;
        width: 100.2rem;
        height: 105.3rem;
        @media(max-width: 992px) {
            display: none;
            width: 100vw;
            height: 44.8rem;
            top: 0;
            right: 0
        }
        @media(max-width: 767px) {
            left: 0;
        }
        &.tablet-visible {
            @media(max-width: 992px) {
                display: block;
            }
        }
    }

    // .results__inner

    &__inner {
        margin-bottom: 6.5rem;
        @media(min-width: 992px) {
            display: flex;
            align-items: flex-end;
        }
        @media(max-width: 992px) {
            margin-bottom: 7rem;
        }
    }

    &__questions {
        @media(min-width: 992px) {
            display: flex;
            align-items: flex-start;
        }
    }

    // .results__left

    &__left {
        @media(min-width: 992px) {
            width: 59.2rem;
        }
    }

    // .results__title

    &__title {
        margin-bottom: 6rem;
        @media(max-width: 992px) {
            margin-bottom: 3rem;
        }
    }

    // .results__left-text

    &__text {
        @extend %text-16;
        font-weight: 600;
        color: $gray;
        @media(min-width: 992px) {
            width: 53.8rem;
        }
    }

    // .results__tabs

    &__tabs {
        >* {
            display: block;
            &:not(:last-child) {
                margin-bottom: 6rem;
                @media(max-width: 992px) {
                    margin-bottom: 3.5rem;
                }
            }
        }
    }

    &__tab-content {
        @media(max-width: 992px) {
            padding-top: 3rem;
        }
    }

    // .results__right

    &__right {
        @media(min-width: 992px) {
            margin-left: 15.2rem;
        }
    }

    // .results__winners

    &__winners {
        @extend %text-24;
        font-weight: 600;
        @media(min-width: 992px) {
            display: flex;
            align-items: center;
        }
        @media(max-width: 992px) {
            font-size: 2.1rem;
            line-height: 2.5rem;
            text-align: center;
            margin-top: 7rem;
        }
    }

    &__timer {
        @extend %text-96;
        font-weight: 300;
        @extend %gradient-text;
        @media(max-width: 992px) {
            margin-top: 2rem;
            font-size: 6.4rem;
            line-height: 7.7rem;
        }
        @media(min-width: 992px) {
            margin-left: 4rem;
        }
    }

    // .results__tabs-content

    &__tabs-content {
        @extend %text-16;
        font-weight: 600;
        @media(min-width: 992px) {
            width: 64rem;
        }
    }
}
