.btn {
    border-radius: 5rem;
    @extend %text-24;
    font-weight: 700;
    text-align: center;
    transition: .4s all;
}

.common-btn {
    @extend .btn;
    border: 0.1rem solid $accent;
    padding: 1.5rem 4rem;
    @media (any-hover: hover) {
        &:hover {
            background-color: $green;
        }
    }
}