.tabs-content {
    display: none;
    &--active {
        display: block;
    }
}

.tab {
    position: relative;
    @extend %text-36;
    font-weight: 600;
    padding-right: 6rem;
    &:after {
        content: '';
        position: absolute;
        top: 1rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        background-image: url(../img/icons/plus.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: .4s transform;
    }
    &--active {
        &:after {
            transform: rotate(45deg);
        }
    }
}
