.tabs-content {
    display: none;
    @extend %text-16;
    font-weight: 600;
    @media(max-width: 992px) {
        padding-top: 3rem;
    }
    &--active {
        display: block;
    }
}

.tab {
    position: relative;
    @extend %text-36;
    font-weight: 600;
    padding-right: 6rem;
    @media(max-width: 992px) {
        font-size: 2.4rem;
        line-height: 2.9rem;
    }
    @media(max-width: 767px) {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding-right: 4.5rem;
    }
    &:after {
        content: '';
        position: absolute;
        top: 1rem;
        right: 0;
        width: 3rem;
        height: 3rem;
        background-image: url(../img/icons/plus.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: .4s transform;
        @media(max-width: 992px) {
            top: 0;
        }
        @media(max-width: 767px) {
            top: -0.5rem;
        }
    }
    &--active {
        &:after {
            transform: rotate(45deg);
        }
    }
}
