.promo {
    position: relative;
    z-index: 10;
    padding-top: 24.5rem;
    padding-bottom: 28.8rem;
    @media(max-width: 992px) {
        padding: 13.2rem 0 16.4rem;
    }

    // .promo__content

    &__content {
        width: 91.5rem;
        @extend %flex-col;
        @media(max-width: 992px) {
            width: 100%;
        }
        @media(max-width: 767px) {
            width: 100%;
        }
    }

    // .promo__logo

    &__logo {
        height: 20.6rem;
        margin-bottom: 2.3rem;
        @media(max-width: 992px) {
            width: 34.4rem;
            height: 7.7rem;
            margin-bottom: 2rem;
        }
    }

    // .promo__title

    &__title {
        font-weight: 600;
        @extend %text-48;
        margin-bottom: 9rem;
        @media(max-width: 992px) {
            font-size: 2.4rem;
            line-height: 2.9rem;
            margin-bottom: 0;
        }
    }

    // .promo__action-link

    &__action-link {
        @extend .btn;
        background-color: #fff;
        align-self: center;
        padding: 2.05rem 5.6rem;
        @media(max-width: 575px) {
            width: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $dark;
                color: #fff;
            }
        }
    }

    // .promo__img

    &__img {
        position: absolute;
        top: 7.2rem;
        right: -8.6rem;
        width: 111.1rem;
        height: 88.8rem;
        @media(max-width: 992px) {
            position: static;
            width: 50rem;
            height: 30rem;
            margin-left: auto;
            margin-right: -3rem;
            margin-top: -5rem;
            margin-bottom: 12rem;
        }
        @media(max-width: 767px) {
            width: 40rem;
            height: 20rem;
        }
        @media(max-width: 575px) {
            width: 38.4rem;
            height: 30.7rem;
            margin-right: -14.4rem;
            margin-top: -6.1rem;
            margin-bottom: 0;
        }
        img {
            object-fit: contain;
        }
    }
}

/* .in-view .promo__img {
    right: -8.6rem;
}

.in-view .promo__logo {
    opacity: 1;
}

.in-view {
    .promo__title,
    .promo__action-link {
        transform: translateY(0%);
    }
} */
