.footer {

    position: relative;
    padding: 11.6rem 0 9.2rem;
    background-image: url(../img/bg/footer-bg.svg);
    background-position: center 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width: 767px) {
        background-image: url(../img/bg/footer-bg_sm.svg);
        background-position: center 0;
        padding: 7rem 0 6rem;
    }

    &__inner {
        @media(min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }

    // .footer__logo

    &__logo {
        display: flex;
        justify-content: center;
        @media(max-width: 767px) {
            width: 21.9rem;
            height: 6rem;
            margin: 0 auto 4rem;
        }
    }

    // .footer__menu

    &__menu {
        margin: 0 auto;
        @media(max-width: 992px) {
            margin-right: 0;
        }
    }

    &__menu-list {
        @media(min-width: 768px) {
            display: flex;
        }
    }

    // .footer__menu-item

    &__menu-item {
        @media(max-width: 767px) {
            text-align: center;
        }
        &:not(:last-child) {
            margin-right: 8rem;
            @media(max-width: 992px) {
                margin-right: 3rem;
            }
            @media(max-width: 767px) {
                margin-bottom: 3rem;
                margin-right: 0;
            }
        }
    }
}
