.quiz {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 4.7rem;
    @media(max-width: 767px) {
        padding-bottom: 8rem;
    }

    &__decor {
        @extend %pos-center-y;
        right: 0rem;
        z-index: -1;
        width: 91.8rem;
        height: 105.3rem;
        @media(max-width: 992px) {
            display: none;
            width: 9.9rem;
            height: 38.7rem;
            top: -5rem;
            transform: none;
        }
        &.tablet-visible {
            @media(max-width: 992px) {
                display: block;
            }
        }
    }

    // .quiz__inner

    &__inner {
        @media(min-width: 992px) {
            display: flex;
        }
    }

    // .quiz__content

    &__content {
        width: 109.1rem;
        padding-right: 3rem;
        padding-top: 6rem;
        @media(max-width: 992px) {
            width: 100%;
            padding-top: 0;
            padding-right: 0;
        }
    }

    // .quiz__questions-counter

    &__questions-counter {
        @extend %text-24;
        font-weight: 600;
        color: rgba(4, 62, 68, 0.56);
        margin-bottom: 4rem;
        @media(max-width: 992px) {
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 2rem;
        }
    }

    // .quiz__nav-buttons

    &__nav-buttons {
        @extend %flex-row;
        @media(max-width: 992px) {
            justify-content: flex-start;
        }
    }

    &__nav-btn {
        @media(max-width: 992px) {
            font-size: 1.8rem;
            line-height: 2.2rem;
            padding: 0.8rem 2.35rem;
        }
        &:not(:last-child) {
            @media(max-width: 992px) {
                margin-right: 2.3rem;
            }
            @media(max-width: 767px) {
                margin-right: auto;
            }
        }
    }

    // .quiz__img

    &__img {
        width: 61.2rem;
        height: 70.4rem;
        @media(max-width: 992px) {
            width: 14.9rem;
            height: 17.1rem;
            position: absolute;
            top: 5.5rem;
            right: -3.7rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: row-reverse;
    }
}

#next-btn {
    padding-left: 3rem;
    padding-right: 3rem;
    @media(max-width: 992px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.quiz-question {
    display: none;
    //flex-shrink: 0;
    //transform: translateX(-500%);
    //transition: .5s transform;
    //display: none;

    // .quiz-question__title

    &__title {
        margin-bottom: 8rem;
        @media(max-width: 992px) {
            max-width: 30rem;
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 3rem;
        }
    }

    // .quiz-question__action-text

    &__action-text {
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: rgba(4, 62, 68, 0.56);
        margin-bottom: 6rem;
        @media(max-width: 992px) {
            font-size: 1.6rem;
            line-height: 1.9rem;
            margin-bottom: 3rem;
        }
    }

    // .quiz-question__fields

    &__fields {
        //width: 109.1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3.6rem 5.5rem;
        margin-bottom: 7rem;
        @media(max-width: 992px) {
            //width: 100%;
        }
        @media(max-width: 767px) {
            grid-template-columns: 1fr;
            grid-gap: 3rem;
        }
    }

    // .quiz-question__item

    &__item {
        @extend %vertical-align;
    }
}

/* [data-question="10"] {
    transform: translateX(-1200%);
}
[data-question="9"] {
    transform: translateX(-1100%);
}
[data-question="8"] {
    transform: translateX(-1000%);
}
[data-question="7"] {
    transform: translateX(-900%);
}
[data-question="6"] {
    transform: translateX(-800%);
}
[data-question="5"] {
    transform: translateX(-700%);
}
[data-question="4"] {
    transform: translateX(-600%);
}
[data-question="3"] {
    transform: translateX(-500%);
}
[data-question="2"] {
    transform: translateX(-400%);
}
[data-question="1"] {
    transform: translateX(-300%);
} */

