.container {
	max-width: $container + $gap * 2;
	padding: 0 $gap;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	@extend %flex-col;
	min-height: 100vh;
	/* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
		background: #fff;
		backdrop-filter: blur(31px);
	} */
	&__decor {
		position: absolute;
		z-index: -1;
		top: 0rem;
		left: -5rem;
		width: 151.9rem;
		height: 96rem;
		@media(max-width: 767px) {
			display: none;
			width: 100vw;
			height: 76.8rem;
			top: -0.5rem;
			left: 0;
			right: 0;
		}

		&.pc {
			animation-duration: 10s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: top-svg-wave;
		}
	}
}

@keyframes top-svg-wave {
	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(1.025);
	}

	50% {
		transform: scale(1.05);
	}

	75% {
		transform: scale(1.025);
	}

	100% {
		transform: scale(1);
	}
}

.page {
	flex: 1 1 auto;
}
