.container {
	max-width: $container + $gap * 2;
	padding: 0 $gap;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	@extend %flex-col;
	min-height: 100vh;
	/* @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
		background: #fff;
		backdrop-filter: blur(31px);
	} */
	&__decor {
		position: absolute;
		z-index: -1;
		top: 0rem;
		left: -5rem;
		width: 151.9rem;
		height: 96rem;
		@media(max-width: 767px) {
			display: none;
			width: 100vw;
			height: 76.8rem;
			top: -0.5rem;
			left: 0;
			right: 0;
		}

		&.pc {
			animation-duration: 10s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: top-svg-horizontal;
			/* path {
				animation-duration: 12s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				&:nth-child(1) {
					animation-name: top-svg-horizontal;
				}
				&:nth-child(2) {
					animation-name: top-svg-vertical;
				}
			} */
			/* defs radialGradient {
				animation-duration: 20s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				animation-name: top-svg-vertical;
			} */
		}
	}
}

@keyframes top-svg-horizontal {
	0% {
		//transform: translate(0, 0);
		transform: scale(1);
	}

	25% {
		//transform: rotate(-5deg);
		transform: scale(1.05);
	}

	50% {
		//transform: rotate(-10deg);
		transform: scale(1.1);
	}

	75% {
		//transform: rotate(-5deg);
		transform: scale(1.05);
	}

	100% {
		//transform: rotate(0deg);
		transform: scale(1);
	}
}

@keyframes top-svg-vertical {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0, 10rem);
	}
}

.page {
	flex: 1 1 auto;
}
